* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signIN-page {
    display: flex;
    margin: 20px auto;
    max-width: 600px;
    justify-content: center;
}

.left-side {
    font-size: .5em;
    text-align: center;
    width: 100px;
    margin-right: 20px;
}

.write-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.write-side input {
    padding: 10px;
    font-size: .5em;
    width: 100%;
}

.email,
.password {
    padding: 10px;
    width: 100%;
    margin: 10px;
    text-align: center;
}

.sign-in-btn {
    padding: 10px;
    font-size: .5em;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in-btn:hover {
    background-color: orange;
    color: white;
}
